.header {
    .navbar-inverse {
        background-color: rgba(0,0,0,0);
        border: none;
    
        .navbar-header {
    
            .logo {
                color: #e1e1e1;
            }
    
        }

        .collapse {
            padding-right: 2em;
            .nav {
                a {
                    font-size: 1.2em;
                    color:#e1e1e1;
                    text-transform: uppercase;
                    border-bottom:3px solid transparent;
                    transition:all linear .3s;

                    &:hover{
                        border-bottom:3px solid #e1e1e1;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.banner {
    background: transparent;
    margin-bottom: 6.3em;
    

    #background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
    }

    .box {
        text-align: left;
        padding: 7em 0em 2em;
        height: 100%;

        // .title {
        //     margin-top: 4em;
        //     margin-left: 2em;
        //     font-family: OSBold;
        //     font-size: 5em;
        //     text-transform: uppercase;
        //     color: #e1e1e1;
        // }

        .title {
            margin-top: 15em;
            margin-left: 7em;
        }

        
    }

    .text {
        margin-top: 2em;
        margin-left: 7em;
    }



    @media screen and (max-width: 855px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
        .box {
            padding: 10em 0em 6.2em;
            .title {
                margin-top: 11em;
                margin-left: 4em;
                width: 60%;
                height: 60%;
            }

            .text {
                margin-top: 1em;
                margin-left: 4em;
                width: 60%;
                height: 60%;
            }
        }          
    }
}

.information {
    background: url('../img/background2.png');
    padding-top: 4.8em;

    .container {
        display: flex;
        margin-top: 5em;
        text-align: center;
        .news {
            margin-top: 5em;
            margin-right: 3.3em;
            .swiper {
                width: 600px;
                height: 337px;
                background-color: aquamarine;
                text-align: left;
                margin-bottom: 3em;
            }

            .carousel-inner {
                margin-bottom: 3em;
                img {
                    height: 270px;
                    width: 480px;
                }
            }

            .table {
                background-color: #242424;
                color: #c9c9c9;
                height: 200px;
                width: 480px;
                font-family: OSLight;

                .day {
                    color: #1e96cc;
                }
            }
        }

        .img {
            height: 942px;
            img {
                height: 70%;              
            }
        }
    }
}

.navContent {
    position: fixed;
    right: 5.25rem;
    height: 100%;
    z-index: 20;
    top: 20%;

    .navMenuItem {
        margin-top: 2em;
        margin-bottom: 7em;
        // border-right: 3px solid #1e96cc;
        a {
            
            font-size: 1.5em;
            color: #e1e1e1;
            // text-transform: uppercase;
            border-bottom:3px solid transparent;
            transition:all linear .3s;

            &:hover {
                margin-right: 10px;
                color: #50d6fc;
                border-bottom:3px solid #50d6fc;
            }

        }
    }
}

.origin {
    background: url("../img/background2.png") no-repeat bottom center;
    text-align: center;
    padding-bottom: 0.5em;
    margin-bottom: 2em;

    .title {
        font-family: OSLight;
        font-size: 3em;
        text-transform: uppercase;

        span {
            font-family: OSBold;
        }
    }

    .text {
        
    }
}