.header {
    .navbar-inverse {
        background-color: rgba(0,0,0,0);
        border: none;

        .user {
            height: 30px; 
            width: 30px; 
            margin: 10px;
            margin-left: 15px;
        }
    
        .navbar-header {
    
            .logo {
                color: #e1e1e1;
            }
    
        }

        .collapse {
            padding-right: 2em;
            .nav {
                a {
                    font-size: 1.2em;
                    color:#e1e1e1;
                    text-transform: uppercase;
                    border-bottom:3px solid transparent;
                    transition:all linear .3s;

                    &:hover{
                        border-bottom:3px solid #e1e1e1;
                        margin-top: 10px;
                    }
                }

            }
        }
    }

    @media screen and (max-width: 767px) {
        & {
            .navbar {

                .user {
                    display: none;
                }
                .collapse {
                    .nav {
                        a {
        
                            a:hover{
                                border-bottom:2px solid #e1e1e1;
                                margin-top: 0px;
                            }
                        }
        
                    }
                }
            }
        }
    }
}

.banner {
    background: transparent;
    margin-bottom: 1em;
    

    #background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
    }

    .box {
        text-align: left;
        padding: 9em 0em 2em;
        height: 100%;
        margin-bottom: 6em;

        // .title {
        //     margin-top: 4em;
        //     margin-left: 2em;
        //     font-family: OSBold;
        //     font-size: 5em;
        //     text-transform: uppercase;
        //     color: #e1e1e1;
        // }

        .title {
            margin-top: 22em;
            margin-left: 7em;
        }

        
    }

    .text {
        margin-top: 2em;
        margin-left: 7em;
    }

    .scroll {
        text-align: center;

    }



    @media screen and (max-width: 1000px) { /*当屏幕尺寸小于1008px时，应用下面的CSS样式*/
        .box {
            margin-bottom: 12em;
            .title {
                margin-top: 20em;
                margin-left: 2em;
                width: 60%;
                height: 60%;
            }

            .text {
                margin-top: 3em;
                margin-left: 2em;
                width: 60%;
                height: 60%;
            }

        }         
    }

    // 隐藏scroll翻页
    @media screen and (max-height: 778px) {
        .scroll {
            display: none;
        } 
    }
}

.information {
    background: url('../img/background2.png');
    padding-top: 4.8em;

    .container {
        display: flex;
        margin-top: 5em;
        text-align: center;
        .news {
            margin-top: 5em;
            margin-right: 5em;

            .carousel-inner {
                margin-bottom: 3em;
                img {
                    height: 324px;
                    width: 576px;
                }
            }

            .table {
                background-color: #242424;
                color: #c9c9c9;
                height: 200px;
                width: 576px;
                font-family: OSLight;

                .day {
                    color: #1e96cc;
                }
            }
        }

        .img {
            height: 942px;
            img {
                height: 70%;              
            }
        }
    }

    @media screen and (max-width: 1000px) {
        & {
            padding-top: 3em;
            .container {
                margin-top: 4em;
                flex-wrap: wrap;
                .news {
                    margin-left: 0em;
                    margin-right: 0em;

                    .carousel-inner {
                        margin-bottom: 7em;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }

                    .table {
                        height: 100%;
                        width: 100%;
                    }
                }

                .img {
                    display: none;
                }
            }
        }
    }
}

// 右侧导航
.navContent {
    position: fixed;
    right: 5.25rem;
    height: 100%;
    z-index: 20;
    top: 20%;

    .navMenu {
        padding: 10px;

        .navMenuItem {
            margin-top: 2em;
            margin-bottom: 7em;
            // border-right: 3px solid #1e96cc;
    
            a {
                
                font-size: 1.5em;
                color: #e1e1e1;
                // text-transform: uppercase;
                border-bottom:3px solid transparent;
                transition:all linear .3s;
    
                &:hover {
                    
                    // margin-right: 10px;
                    color: #50d6fc;
                    border-bottom:3px solid #50d6fc;
                }
            }
        }

        &:hover {
            background-color: rgba(0,0,0,0.3);
        }
    }


    @media screen and (max-width: 1300px) {
        & {
            display: none;
        }
    }
}

.origin {
    background: url("../img/background2.png") no-repeat bottom center;
    
    padding-bottom: 3em;
    margin-bottom: 3em;
    padding-top: 2em;
    color: #c9c9c9;
    
    .title {
        text-align: center;
        font-family: OSLight;
        
        font-size: 5em;
        text-transform: uppercase;

        span {
            color: #1e96cc;
            font-family: "OSBold";
        }
    }

    .text {


        h5 {
            color: #c9c9c9;
            text-align: center;
            padding-top: 3em;
            margin-bottom: 5em;
            font-size: 1.5em;
        }
    }

    .list {
        display: flex;
        justify-content: space-around;
        margin-bottom: 4em;

        .item {
            width: 20%;
            text-align: center;
            transition: all linear .2s;

            .thumb {
                overflow: hidden;
                // margin-bottom: 0.5em;
                

                .img {
                    width: 30%;
                    
                }


            }

            .content {
                .info {
                    font-family: OSLight;
                    font-size: 1em;
                    color: #c9c9c9;
                    &:hover {
                        border-bottom: 3px #c9c9c9 solid;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        & {
            margin-bottom: 10px;
            .subject {
                .title {
                    font-size: 3em;
                }
                .text {
                    padding-top: 2em;
                    margin-bottom: 3em;
                    font-size: 1.3em;
                    text-align: left;
                }
            }

            .list {
                display: flex;
                flex-wrap: wrap;
                .item {
                    text-align: left;
                    width: 40%;
                    .thumb {
                        
                    }

                    .content {
                        
                        .info {
                            font-size: 1em;
                        }
                    }
                }

                
            }
        }
    }
}